.wrapper {
  height:600px;
  width: 1002px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 600px;
  width: 500px;
}
.quantity-zero-detail{
	float: right;
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: 180px;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: red;
    outline: none;
}
.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 600px;
  width: 500px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 400px;
}
.product{
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
  margin: 0 0 0 38px;
  font-size: 30px;
  font-weight: lighter;
  color: #474747;
  
}

.product span:nth-child(2){
	font-weight: 600;
}
.product span:nth-child(3){
	font-weight: 600;
	font-size: 14px;
}
.product-text h1 {
  margin: 0 0 10px 38px;
  padding-top: 10px;
  font-size: 30px;
  color: #474747;
}
.product-text h3 {
  margin: 0 0 10px 38px;
  padding-top: 10px;
  font-size: 25px;
  color: #c0c0c0;

}

.product-text h1,
.product-price-btn p {
  font-family: 'Quicksand', sans-serif;
}

.product-text h2 {
  margin: 0 0 10px 38px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  margin: 0 0 20px 38px;
  font-family: 'Quicksand', sans-serif;
  color: #5c5c5c;
  line-height: 1.3em;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-align: justify;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 220px;
  position: relative;
}

.product-price-btn p {
  margin: 0 0 0 38px;
  font-family: 'Quicksand', sans-serif;
  
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 60px;
  width: 180px;
  margin: 0 0 0 20px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
.rate {
  float: left;
 
  padding: 0 10px 0 20px;
  margin: 0 0 0 38px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color:#ccc;
margin-bottom: 0;
line-height: 21px;
}
.rate:not(:checked) > label:before {
  content: '\2605';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
